## Libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Datasets

In [3]:
# Global cases
confirmed_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
# Deaths
deaths_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
# Recovered
recovered_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
# Country Specific
country_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/web-data/data/cases_country.csv')

## Data Analysis

In [7]:
confirmed_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/23/21,6/24/21,6/25/21,6/26/21,6/27/21,6/28/21,6/29/21,6/30/21,7/1/21,7/2/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,107957,109532,111592,111592,111592,115751,117158,118659,120216,120216
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,132497,132499,132506,132509,132512,132513,132514,132521,132523,132526
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,137049,137403,137772,138113,138465,138840,139229,139626,140075,140550
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,13873,13877,13882,13882,13882,13882,13900,13911,13918,13918
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,38002,38091,38371,38528,38556,38613,38682,38849,38965,39089

In [8]:
deaths_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/23/21,6/24/21,6/25/21,6/26/21,6/27/21,6/28/21,6/29/21,6/30/21,7/1/21,7/2/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,4366,4452,4519,4519,4519,4730,4794,4871,4962,4962
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,2455,2455,2455,2456,2456,2456,2456,2456,2456,2456
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,3660,3669,3678,3685,3693,3699,3708,3716,3726,3735
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,127,127,127,127,127,127,127,127,127,127
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,878,881,883,887,889,891,894,900,903,906

In [9]:
recovered_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/23/21,6/24/21,6/25/21,6/26/21,6/27/21,6/28/21,6/29/21,6/30/21,7/1/21,7/2/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,66102,66799,67183,67483,68288,69205,70016,71012,71924,72700
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,129955,129966,129975,129982,129990,129994,130002,130009,130014,130018
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,95331,95599,95878,96108,96335,96572,96815,97089,97380,97701
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,13688,13694,13697,13697,13697,13697,13717,13720,13721,13721
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,32322,32340,32605,32696,32791,32819,33079,33242,33271,33375

In [25]:
country_df.head()

,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3
0,Afghanistan,2021-07-03 13:21:55,33.93911,67.709953,120216.0,4962.0,72700.0,42554.0,308.813571,NaN,NaN,4.127570,4,AFG
1,Albania,2021-07-03 13:21:55,41.15330,20.168300,132526.0,2456.0,130018.0,52.0,4605.115018,NaN,NaN,1.853221,8,ALB
2,Algeria,2021-07-03 13:21:55,28.03390,1.659600,140550.0,3735.0,97701.0,39114.0,320.516892,NaN,NaN,2.657417,12,DZA
3,Andorra,2021-07-03 13:21:55,42.50630,1.521800,13918.0,127.0,13721.0,70.0,18013.330745,NaN,NaN,0.912487,20,AND
4,Angola,2021-07-03 13:21:55,-11.20270,17.873900,39089.0,906.0,33375.0,4808.0,118.933491,NaN,NaN,2.317788,24,AGO

## Summary Statistics

In [27]:
pd.options.display.float_format = '{:.1f}'.format

In [28]:
confirmed_df.describe()

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,6/23/21,6/24/21,6/25/21,6/26/21,6/27/21,6/28/21,6/29/21,6/30/21,7/1/21,7/2/21
count,277.0,277.0,279.0,279.0,279.0,279.0,279.0,279.0,279.0,279.0,...,279.0,279.0,279.0,279.0,279.0,279.0,279.0,279.0,279.0,279.0
mean,20.3,22.5,2.0,2.3,3.4,5.1,7.6,10.5,20.0,22.1,...,643711.7,645159.1,646670.7,647971.2,649081.9,650271.6,651650.6,653055.1,654628.6,656216.3
std,25.2,75.4,26.6,26.7,33.3,46.3,64.7,87.2,214.0,215.4,...,3004315.5,3008788.8,3013712.6,3017686.3,3020690.2,3023794.2,3027853.0,3031668.2,3035983.3,3040800.4
min,-51.8,-178.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,4.9,-23.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1350.0,1350.5,1350.5,1350.5,1350.5,1351.0,1351.0,1351.5,1351.5,1351.5
50%,21.5,20.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,19234.0,19402.0,19405.0,19405.0,19405.0,19412.0,19412.0,19412.0,19412.0,19412.0
75%,40.5,85.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,263739.5,265023.5,265822.5,266672.0,267441.0,267556.0,268595.0,270226.5,271644.0,272108.5
max,71.7,178.1,444.0,444.0,549.0,761.0,1058.0,1423.0,3554.0,3554.0,...,33577651.0,33590481.0,33614196.0,33621499.0,33625419.0,33640502.0,33652098.0,33664970.0,33679433.0,33709131.0

In [29]:
deaths_df.describe()

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,6/23/21,6/24/21,6/25/21,6/26/21,6/27/21,6/28/21,6/29/21,6/30/21,7/1/21,7/2/21
count,277.0,277.0,279.0,279.0,279.0,279.0,279.0,279.0,279.0,279.0,...,279.0,279.0,279.0,279.0,279.0,279.0,279.0,279.0,279.0,279.0
mean,20.3,22.5,0.1,0.1,0.1,0.2,0.2,0.3,0.5,0.5,...,13949.3,13980.2,14013.2,14039.9,14061.3,14085.1,14114.2,14147.0,14178.1,14207.8
std,25.2,75.4,1.0,1.0,1.4,2.4,3.1,4.6,7.5,7.5,...,58158.6,58281.7,58410.8,58509.5,58571.3,58634.6,58740.9,58860.3,58974.7,59085.1
min,-51.8,-178.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,4.9,-23.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
50%,21.5,20.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,309.0,309.0,309.0,311.0,312.0,313.0,313.0,313.0,315.0,315.0
75%,40.5,85.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4032.5,4038.5,4045.5,4052.5,4055.5,4058.0,4067.5,4071.0,4082.5,4086.5
max,71.7,178.1,17.0,17.0,24.0,40.0,52.0,76.0,125.0,125.0,...,602933.0,603274.0,603772.0,603919.0,603993.0,604143.0,604474.0,604714.0,605019.0,605524.0

In [32]:
recovered_df.describe()

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,6/23/21,6/24/21,6/25/21,6/26/21,6/27/21,6/28/21,6/29/21,6/30/21,7/1/21,7/2/21
count,263.0,263.0,264.0,264.0,264.0,264.0,264.0,264.0,264.0,264.0,...,264.0,264.0,264.0,264.0,264.0,264.0,264.0,264.0,264.0,264.0
mean,18.9,27.9,0.1,0.1,0.1,0.2,0.2,0.2,0.4,0.5,...,445102.8,446200.2,447445.1,448560.9,449540.9,450781.3,451892.7,452952.9,454567.9,455680.0
std,24.6,73.0,1.7,1.7,1.9,2.0,2.6,2.8,5.0,5.5,...,2148122.0,2152865.8,2158455.7,2163377.6,2167281.7,2172952.0,2177671.7,2182009.0,2190543.1,2195028.8
min,-51.8,-178.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,4.6,-9.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1006.2,1007.0,1007.0,1007.0,1007.0,1007.0,1007.0,1007.8,1007.8,1007.8
50%,19.3,24.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,13351.0,13351.0,13514.5,13514.5,13534.0,13593.0,13611.5,13616.5,13619.0,13621.5
75%,38.9,93.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,208354.8,209350.2,210384.8,210713.2,211678.5,212022.8,212283.2,212732.5,213264.8,213793.0
max,71.7,178.1,28.0,28.0,31.0,32.0,42.0,45.0,80.0,88.0,...,29063740.0,29128267.0,29193085.0,29251029.0,29309607.0,29366601.0,29427330.0,29488918.0,29548302.0,29605779.0

In [33]:
country_df.describe()

,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID
count,193.0,193.0,195.0,195.0,188.0,194.0,192.0,0.0,0.0,194.0,195.0
mean,19.4,20.0,939421.6,20338.0,640292.1,132692.4,3605.2,NaN,NaN,2.2,525.1
std,23.8,64.2,3605817.0,69876.9,2580598.2,601897.1,4089.9,NaN,NaN,2.9,952.5
min,-40.9,-172.1,0.0,0.0,1.0,-152797.0,0.0,NaN,NaN,0.0,4.0
25%,4.6,-7.1,12715.0,162.5,10472.2,302.0,247.4,NaN,NaN,1.0,210.0
50%,17.6,20.9,103826.0,1361.0,70120.0,3948.5,1950.8,NaN,NaN,1.6,426.0
75%,40.1,47.5,425241.5,8035.5,342549.2,29501.8,6387.1,NaN,NaN,2.6,652.5
max,65.0,178.1,33709600.0,605533.0,29605779.0,5325465.0,18013.3,NaN,NaN,25.0,9999.0

# Conclusion

**With this data we could answer questions like:**  

What are the countries with most death cases? As well as cases and recovered cases.  
What are the worst/best time overall (considering all the countries)?  
What are the worst/best time overall for each country  
What are the countries with the worst/best Mortality_Rate?  
How are the global statistics look like?  

**This and other questions could be solved with the analysis of this data.**